<h1>Welcome to my awesome travel site!</h1>

<p>Discover the world with me!</p>
<!-- <p><%= @homeland %></p>

<%= image_tag "USA.jpg" %>

<ul>
  <% @countries.each do |country| %>
  <li><%= country %></li>
  <% end %>
</ul> -->

<div id="map-canvas">

</div>